:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    width: 200px;
    height: 90px;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}

/* Filme Principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/one_piece_capa.jpg');

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 30px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.fa-play, .fa-circle-info {
    margin-right: 10px;
}

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
}
